body{
    background-color: black;
}

@font-face{
    font-family: aldritch;
    src: url(fonts/Aldrich-Regular.ttf);
}

.bg{
    position: relative;
    text-align: center;
    z-index: -2;
}

.line hr{
    position: absolute;
    top : 120px;
    width: 100%;
    left : calc( (50% - 620px) );
    max-width: 1240px;
    border-bottom-width: 1px ;
    border-bottom-color:white;
    border-bottom-style: solid;    
}

.titleLineUp hr{
    position: absolute;
    top: 395px;
    width: 100%;
    left: calc(50% - 600px);
    max-width: 1200px;
    border-bottom-width: 1px ;
    border-bottom-color:white;
    border-bottom-style: solid;  
}
.titleLineBot hr{
    position: absolute;
    top: 450px;
    width: 100%;
    left: calc(50% - 600px);
    max-width: 1200px;
    border-bottom-width: 1px ;
    border-bottom-color:white;
    border-bottom-style: solid;  
}

.badge{
    position: absolute;
    top: 5px;
    left: calc(50% - 145px);
}

.title{
    position: absolute;
    top: 250px;
    left: 50%;
    left: calc(50% - 152px);


}

.title img{
    width: 304px;
    height: 140px;
}

.bgImg{
    z-index: -1;
}

.title-bar{
    position: absolute;
    top: 430px;
    width: 100%;
    max-width: 1280px;
    left: calc(50% - 640px);
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
}
.title-bar h1{
    font-size: 28px;
}

.font{
    font-family: aldritch;
    color: white;
}

.dataBody{
    position: absolute;
    /* border-width: 2px;
    border-style: solid;
    border-color: turquoise; */
    top: 475px;
    height: 100%;
    max-height: 1300px;
    width: 100%;
    max-width: 1280px;
    left: calc(50% - 640px);

}

.entry{
    /* border-width: 2px;
    border-style: solid;
    border-color: rgb(224, 64, 64); */
    position: relative;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    /* height: 20%; */
    align-content: center;
    font-family: aldritch;
    margin-bottom: 3px;
    z-index: 1;
}

.strong{
    color: white;
}

.light{
    color: rgb(153, 153, 153);
}

.bgImgLine{
    position: absolute;
    top: 50%;
    left: calc(50% - 550px);
    z-index: 0;
}

#spin{
    text-align: center;
}

#spinLoad{
    text-align: center;
}
